#map {
 height: 90vh;
 width: 100vmax;
 background-color:darkslategray;

}

.titulo {
    background-color: rgb(79, 81, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color :rgba(242, 242, 243, 0.981);
    cursor:pointer;
}